@media (max-width: 1431px) {

    .img-dash.ativo {
        width: 700px;
    }


}

@media (max-width: 1170px) {
    .info img {
        height: 60%;
    }

    .container-base.clientes{
        gap: 130px;
    }
   
}



@media (max-width: 884px) {
    .info {
        height: 600px;
    }
    .info img {
        display: none;
    }
    .container-base {
        flex-direction: column;
        gap: 0;
        height: 1000px;
        padding: 0;
        gap: 50px;
    }
    .container-content {
        padding: 0;
        
    }

    .img-content.img-sobre {
        width: 300px;
        display: block;
       
      }
}
@media (max-width: 752px) {
    .img-dash.ativo {
        width: 500px;
    }

}

@media (max-width: 563px) {
    .text-content {
        width: 80%;
    } 

}

@media (max-width: 522px) {

    .about p {

        font-size: 53px;
    }

    .img-dash.ativo {
        width: 410px;
    }
    .img-dash-phone.ativo {
        width: 400px !important;
        display: flex;
      }
}




@media (max-width: 468px) {
    .digitaliza {
    font-size: 50px;
}
    .how {
        font-size: 45px;
    }
    .img-dash.ativo {
        width: 400px;
    }
    .img-dash-phone.ativo {
        width: 350px !important;
        display: flex;
      }
}

@media (max-width: 425px) {
    .img-dash.ativo {
        width: 310px !important; 
    }
}
@media (max-width: 370px) {

    .about p {
        font-size: 48px;
    }
    .digitaliza {
        font-size: 40px;
    }
    .dados p{
        font-size: 60px;
        
    }
    .dados span{
        font-size: 50px;
        
    }
    .img-dash.ativo {
        width: 290px !; 
    }
.img-dash-phone.ativo {
        width: 300px !important;
        display: flex;
      }
    
}