@media (max-width: 1655px) {
.container-base.beneficios {
    gap: 90px;
}
}

@media (max-width: 1579px) {
    .img-dash-desktop {
        width: 700px;

    }
}
@media (max-width: 1431px) {

    .container-base.beneficios {
        gap: 0px;
    }


}

@media (max-width: 1282px) {
    .container-base.beneficios {
        flex-direction: column;
        align-items: center;
        height: auto;
        
    }
    .beneficios {
        height: 1063px !important;
        
    }

}

@media (max-width: 1170px) {
    .info img {
        height: 60%;
    }

    .container-base.clientes{
        gap: 130px;
    }
   
}
@media (max-width: 1155px) {
    .container-base {
        gap: 70px;
        align-items: center;
    }

    .img-content {
        width: 300px;
    }
}

@media (max-width: 927px) {
    .container-base {
        flex-direction: column;
        height: 1000px;
    }

    .img-content {

    }
}



@media (max-width: 884px) {
    .info {
        height: 600px;
    }
    .info img {
        display: none;
    }
    .container-base {
        flex-direction: column;
        gap: 0;
        height: 1000px;
        padding: 0;
        gap: 50px;
    }
    .container-base.clientes{
        gap: 0;
    }

    .img-content.img-sobre {
        width: 300px;
        display: block;
       
      }
}
@media (max-width: 752px) {
    .img-dash.ativo {
        width: 500px;
    }

}

@media (max-width: 563px) {
    .text-content {
        width: 80%;
    } 

}

@media (max-width: 522px) {

    .about p {

        font-size: 53px;
    }

    .img-dash.ativo {
        width: 410px;
    }
    .img-dash-phone.ativo {
        width: 400px !important;
        display: flex;
      }
}
@media (max-width: 497px) {
    .container-base {
        gap: 0;
    }
}



@media (max-width: 468px) {
    .digitaliza {
    font-size: 50px;
}
    .how {
        font-size: 45px;
    }
    .img-dash.ativo {
        width: 400px;
    }
    .img-dash-phone.ativo {
        width: 350px !important;
        display: flex;
      }
}

@media (max-width: 425px) {
    .img-dash.ativo {
        width: 310px !important; 
    }
    .img-content {
        width: 250px !important;
        padding-bottom: 20px;
    }
}
@media (max-width: 370px) {

    .about p {
        font-size: 48px;
    }
    .digitaliza {
        font-size: 40px;
    }
    .dados p{
        font-size: 60px;
        
    }
    .dados span{
        font-size: 50px;
        
    }
    .img-dash.ativo {
        width: 290px !; 
    }
.img-dash-phone.ativo {
        width: 300px !important;
        display: flex;
      }
    
}

/* BAR */


@media (max-width: 605px) {
    ul {
        display: none !important;
        flex-direction: column;
        position: fixed;
        top: 55px;
        background: rgb(255, 255, 255);
        padding: 20px;
        right: 0;
        border-radius: 10px;
        color: white;
        z-index: 20;
        transition: .5s;
    }
    ul.ativo {
        display: flex !important;
    }

    li a{
        color: rgb(0, 0, 0);
        text-align: center;
    }
    li {
        color: rgb(0, 0, 0);
        text-align: center;
    }
    nav{   
        z-index: 200;
        gap: 0;
        justify-content: space-between;
        padding: 0px 45px;
    }
    .container-logo {
        justify-content: center;
    }
    .container-logo {
        justify-content: center;
    }

    button {
        background-image: url(../imgs/menu-buguer-open.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        transition: 0.5s all;
        display: block;
    }

    button.ativo {
        background-image: url(../imgs/menu-buguer-close.svg);
        background-size: 25px;
    }
}