@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
 
}

body {

  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 60px;
  display: block;
  position: fixed;
  z-index: 300;
  background-color: white;
}

nav {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

}
a {
  color: black;
}

.logo {
  width: 40px;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}


.green {
  color: #075f40;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

h1 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: black;
  font-weight: 500;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 750px;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  background: rgb(217,217,217);
  background: linear-gradient(270deg, rgba(217,217,217,1) 13%, rgba(255,255,255,1) 100%); 

}

.about {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 30px;
  border: #075f40 solid 1px;
}



.about p {
  font-family: 'Poppins', sans-serif;
  color: #075f40;
  border-radius: 20px;
  padding: 20px;
  font-size: 60px;
  display: block;
  font-weight: 400;
  letter-spacing: -3px;
  text-transform: uppercase;
}

.about span {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.info img {
  width: auto;
  height: 80%;
}

.linha {
  width: 5%;
  height: 1px;
  border: 1px solid black;
}
.container-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 100px 0px;
}

.title-content {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 700
}

.text-content {
  text-align: center;
  color: black;
  width: 70%;
  font-size: 38px;
  color: white;
  width: 550px;
  font-weight: 600;
  border: white 1px solid;
  border-radius: 30px;
  letter-spacing: -3px;
  padding: 20px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
}
.img-content {
  width: 90%;
  display: block;
}
.img-content.img-benef {
  width: 400px;
  display: block;
}

.container-base {
  width: 100vw;
  height: 779px;

  color: #ffffff;
  background-color: #075f40;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 200px;
}


.container-base.beneficios {
  width: 100vw;
  color: #ffffff;
  background: rgb(7,95,64);
  background: linear-gradient(90deg, rgba(7,95,64,1) 14%, rgba(0,63,34,1) 100%);
}


#img-vendas{
    display: none;
    border: 1px rgb(255, 255, 255) solid;

    border-radius: 30px;
    width: 900px;
}

#img-vendas.ativo{
  display: flex;
}
.list-beneficios {
  display: flex;
  position: absolute;
  color:  white;
  top: 10px;
  width: 100vw;
  justify-content: center;
  gap: 30px;
  font-size: 30px;
  list-style: none ;
}

.btn-vendas {
  cursor: pointer;
}
.links-lista {
  display: flex;
  gap: 30px;
  font-size: 19px;
}
.cardapio {
  flex-direction: row-reverse;
  color: #003f22;
  background-color: white;
}

.cardapio p{
  flex-direction: row-reverse;
  color: #003f22;
 
}
footer {
  width: 100vw;
  height: 40px;
  background-color: white;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.beneficios {
  display: none;
}

.beneficios.ativo {
  display: flex;
}

.cliente {
  justify-content: center;
  flex-direction: column;
}

.cliente > .container-content {
  height: 100px;

}
p {
  font-family: 'Poppins', sans-serif;
}

#img-vendas.img-reserva {
  width: 280px;
  border: none;

}



.img-dash.img-dash-phone {
  width: 15%;
  display: none;
  
}

.img-dash.img-dash-phone.ativo {
  width: 30%;
  display: flex;
}



.aa {
  width: 800px;
  display: flex;
  justify-content: center;
  align-self: center;
}